.center{
    text-align: center;
    color: white;
    background-color:#5cb85c ;
    padding: 20px 0;
h1{
    font-size: 42px;
    font-family: 600;
    font-family: sans-serif;

}
p{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
}